<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nfc-hce" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NfcPlugin</name>
    <js-module name="NfcPlugin" src="www/NfcPlugin.js">
        <clobbers target="cordova.plugins.NfcPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NfcPlugin">
                <param name="android-package" value="cordova.plugin.nfc.NfcPlugin" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
            <uses-permission android:name="android.permission.READ_CALL_LOG" />
            <uses-permission android:name="android.permission.CALL_PHONE" />
            <uses-feature android:name="android.hardware.nfc" android:required="false"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="cordova.plugin.nfc.NfcPlugin$CallStateListener"
            android:enabled="true"
            android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.PHONE_STATE" />
                </intent-filter>
            </receiver>
        </config-file>

        <source-file src="src/cordova/plugin/nfc/NfcPlugin.java" 
            target-dir="src/cordova-plugin-nfc-hce/NfcPlugin" />
    </platform>
</plugin>