<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nfc-hce" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NfcPlugin</name>
    <js-module name="NfcPlugin" src="www/NfcPlugin.js">
        <clobbers target="cordova.plugins.NfcPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NfcPlugin">
                <param name="android-package" value="cordova-plugin-nfc-hce.NfcPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/NfcPlugin.java" target-dir="src/cordova-plugin-nfc-hce/NfcPlugin" />
    </platform>
</plugin>